.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(27, 29, 31);
  padding: 20px 2vw;
  margin-bottom: 30px;
  border-radius: 0 0 25px 25px;
}
.logo-container {
  h1 {
    margin: 0;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  li {
    padding-left: 20px;

    &:hover {
      color: #61dafb;
      cursor: pointer;
    }
  }
}
